"# Android" 
"android/app/google-services.json" 
"# iOS" 
"ios/Runner/GoogleService-Info.plist" 
"# Build" 
"build/" 
".dart_tool/" 
".flutter-plugins" 
".flutter-plugins-dependencies" 
".packages" 
".env" 
